*{
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}

body {
    background-image: linear-gradient(-90deg, rgb(162, 169, 182), rgb(55, 126, 233));
}


#content {
    background-color: rgb(255, 255, 255);
    width: 80%;
    min-height: 100vh;
    margin: 0 auto;
    padding: 40px;
  }
  .H1{
    display: block;
    margin-bottom: 20px;
    color: rgb(3, 87, 87);
  }
  
.navbar{
    /* width: 100%; */
    padding-top: 10px;
    padding-right: 15px;
    height: 40px;
    text-align: right;
    font-size: 20px;
    font-family: sans-serif;
    border: 1px solid rgb(162, 194, 221);
    background-color: rgb(50, 226, 217);
    
}
.img {
  display: block;
  }
  .skill-img{
    display: flex;
    width: 70%;
    padding-left:100px;
    /* padding-right:50px; */
  }
 
  .title{
    font-family: 'Times New Roman', Times, serif;
    color:  rgb(3, 87, 87);
    font-size: 30px;
    /* background-color:  rgb(49, 216, 202); */
  }
  
  .details{
      font-size: 20px;
       font-family: 'Times New Roman', Times, serif;
    }
  
    
    
  .box-container{
    display: flex;
    background: rgb(50, 226, 217);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    
  }
  .box {
    width: 50%;
    height: 50%;
    color: rgb(3, 87, 87);
    font-size: 60px;
    background: rgb(255, 255, 255);
    margin: 10px;
    padding: 20px;
    box-shadow: rgb(19, 18, 9);
  }
  